apiVersion: apps/v1
kind: Deployment
metadata:
  name: acr-deployment
spec:
  selector:
    matchLabels:
      app: sampledemo
  replicas: 2 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: sampledemo
    spec:
      containers:
      - name: acr-deploy
        image: ${{ secrets.ACR_LOGIN_SERVER }}.azurecr.io/k8sflask:${{ github.sha }}
        ports:
        - containerPort: 80
